.round-right {
    border-radius: 5px 0 0 5px;
}

.round-left {
    border-radius: 0 5px 5px 0;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    background-color: #fff;
    font-size: small;
}

.form-control:focus,
.btn:focus,
.form-select:focus {
    box-shadow: none !important;
    outline: none !important;
}

.content {
    margin-top: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#container {
    cursor: pointer;
}

.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

#download {
    text-decoration: none;
    color: #fff;
}

.loader,
#page-loader {
    z-index: 3;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide {
    display: none !important;
}

.right {
    float: right;
}

.left {
    float: left;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.height-30 {
    height: 30px
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fdfdfd;
    border-right: 1px solid #d0d2d3;
    overflow-x: hidden;
    transition: 0s;
    padding-top: 25px;
}

.sidenav span {
    font-size: 15px;
}

.sidenav .closebtn {
    color: #000;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn:hover {
    color: gray;
}

.info-button {
    border: 1px solid #ced4da;
}

.info-button:hover {
    border: 1px solid #000;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 15px;
    }
}

.padding-10 {
    padding-top: 10px;
}