Flask~=2.0
geojson~=2.5
geos~=0.2
json5~=0.9
jsonschema~=3.2
lxml~=4.6
matplotlib~=3.4
matplotlib-inline~=0.1
matplotlib~=3.4
numpy~=1.21.2
owid-catalog~=0.2
pandas~=1.4
pycountry~=22.3
PyMySQL~=1.0
requests~=2.26.0
seaborn~=0.11.2
world-bank-data~=0.1
shapely~=1.7